services:
  db:
    image: postgres:latest
    container_name: flights_finder_db
    restart: always
    env_file:
        - .env
    ports:
        - "5432:5432"
    healthcheck:
        test: [ "CMD", "pg_isready", "-U", "postgres" ]
        interval: 5s
        timeout: 3s
        retries: 5
    volumes:
        - postgres_data:/var/lib/postgresql/data
    networks:
        - taskvel_network

volumes:
  postgres_data:

networks:
  taskvel_network:
    driver: bridge